.mainCont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    background-color: #F5F7FA;
}

.innerDiv{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.text{
    color: "#4D4D4D";
    font-weight: 600;
    font-size: 64px;
}


@media screen and (max-width: 760px){
    .heroImg{
        display: none;
    }
    .text{
        font-size: 30px;
    }
}