.innerCont{
    text-align: center;
}

.image{
    width: 65px;
    height: 56px;
    margin-right: auto;
    margin-left: auto;
}

.imageCont{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Association{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


@media screen and (max-width: 760px) {
    .Association{
        flex-direction: column;
    }
    .imageCont > h1{
        font-size: 25px;
    }
}
