.mainCont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F5F7FA;
}


.mainCont > div{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


@media screen and (max-width: 760px){
    .mainCont{display: none}
    
}